<!DOCTYPE html>
<html>

<head>
    <title>Error 404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
    
    {{>header}}
    <br/>
    <br/>

    <p1>{{notFound}}</p1>
    </div>
    <footer>{{>footer}}</footer>
   
</body>


</html>