<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class='main-content'>
        {{>header}}
        <p>This site was created by Vishnuprasad C. <br>It uses data from <a class='linkz' href="https://mapbox.com">Mapbox</a> and <a class='linkz' href="https://weatherstack.com">Weatherstack</a>.</p>
        <img class="portrait" src=/img/vpc.jpg><br>


    </div>


    <footer>{{>footer}}</footer>

</body>

</html>